:root {
  /* colors */
  --text: #0b1810;
  --background: #f5faf7;
  --white: white;
  --primary: #51b174;
  --secondary: #a5d6d4;
  --accent: #77bcc2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #e7f4ec;
    --background: #050a07;
    --white: #050a07;
    --primary: #4dac6f;
    --secondary: #2a5b5a;
    --accent: #3e8389;
  }
} */
