.headerSection {
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 2rem 4rem;
  background-color: var(--primary);
  border-bottom: 3px solid var(--text);
  color: #0b1810;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .hamburgerMenu {
    display: none;
  }

  > .addButton {
    background-color: var(--background);
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem 0.5rem;
    > .title {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 800px) {
    > .hamburgerMenu {
      display: flex;
    }
  }
}

.hamburgerMenu {
  width: 4rem;
  height: auto;
  gap: 0.35rem;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--background);

  > .bar {
    height: 0.4rem;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--text);
  }
}

footer {
  border-top: 3px solid var(--text);
  background-color: var(--accent);
  border-radius: 0 0 0.6rem 0.6rem;
  color: #0b1810;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent);
  gap: 2rem;
  min-height: 75vh;
  height: 100%;
  padding: 1rem 0.5rem;
  border: 3px solid var(--text);
  border-radius: 1rem;
  margin: 0.5rem;

  div {
    width: 100%;
    box-sizing: border-box;

    h2 {
      padding: 0 0 1rem 0;
      margin: 0;
      border-bottom: 1px solid var(--text);
      overflow: hidden;
    }
  }

  > .addButton {
    padding-top: 0.5rem;
    border-top: 1px solid var(--text);
  }

  @media only screen and (max-width: 800px) {
    position: absolute;
    left: 0;
    margin: 0;
    width: 0;
    overflow: hidden;
    opacity: 0.01;
    border-radius: 0 1rem 1rem 0;
    border: 2px solid;
    border-right: 8px solid;
    border-left: 0;
    transition: opacity 0.1s, width 0.1s;

    &.active {
      width: 50vw;
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    &.active {
      width: 80vw;
    }
  }
}

main {
  height: 75vh;
  flex: 3;
  display: flex;
  flex-direction: column;
  place-items: stretch center;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background-color: var(--white);
  border: 3px solid var(--text);
  border-radius: 1rem;
  margin: 0.5rem;
}
