.formBody {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  min-height: 80px;
  padding-bottom: 0.5rem;
  gap: 1rem;
}

.title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 36px;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 600;
  background: none;
  color: var(--text);
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--text);

  &:focus {
    outline: none;
    caret-color: var(--accent);
  }
}

.content {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: none;
  color: var(--text);
  border-radius: 1rem;
  border: 1px solid var(--text);
  resize: none;
  overflow-y: auto;
  scrollbar-width: thin;
  background-clip: padding-box;
  font-size: 16px;

  &:focus {
    outline: none;
    caret-color: var(--accent);
  }
}
