@import url(./styles/_variables.css);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  display: flex;
  place-items: stretch center;
  min-width: 320px;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  box-shadow: 6px 6px var(--text);
  border: 3px solid var(--text);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: #0b1810;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
button:hover {
  background-color: var(--secondary);
  box-shadow: 3px 3px var(--text);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: var(--secondary);
  box-shadow: 3px 3px var(--text);
}
